storage "raft" {
  path    = "{{ vault_data_dir }}"
  node_id = "{{ inventory_hostname }}"

{% for host in groups['vaults'] %}
  retry_join {
    leader_api_addr = "https://{{ hostvars[host].ansible_host }}:8200"
    leader_ca_cert_file = "{{ vault_tls_dir }}/ca.crt"
  }
{% endfor %}
}

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "{{ vault_tls_dir }}/vault.crt"
  tls_key_file  = "{{ vault_tls_dir }}/vault.key"
}

api_addr     = "https://{{ ansible_host }}:8200"
cluster_addr = "https://{{ ansible_host }}:8201"
ui           = true

disable_mlock = false